<% provide(:title, "Contact") %>
<br>

<div class="jumbotron">
  <h1 class="display-4">Contact Us</h1>
  <h2> <b> Phone : 01502-243567 </b> </h2>
  <h2> <b> Email : contact@freelancer.com </b> </h2>
  <h2> <b> Address : Khandva Bhawan , Street No:2 , Sector 62 Noida ,  Delhi ,  India ,  pincode-243576 </b> </h2>
  <h2> 
    <b>
    <a href="#" class="btn btn-primary btn-lg">Form for Query</a>
    </b>
  </h2>
</div>