<% provide(:title, "How it works")%>

<%# <div class="jumbotron help">
    <h1>How can freelancers help your business?</h1>
    <p>The possibilities are endless. We have expert freelancers who work in 
        every technical, professional, and creative field imaginable.</p>


    <h1>How does it work?</h1>
        <h2>1. Post a project or contest</h2>
        <p>Simply post a project and see a lot of professional freelancers appling 
                      in minutes of time </p>
    <h2>2. Choose the perfect freelancer</h2>
      <p>Browse freelancer profiles. Chat in real-time. Compare proposals and 
        select the best one. Award your project and your freelancer starts work.</p>

    <h2>3. Pay when you’re satisfied</h2>
      <p>Release payments when it has been completed and you're 100% satisfied.</p>

     <p>To get more information about how freelancing works <a href="https://www.quora.com/How-does-Upwork-work">visit the link</a> here </p>
</div> %>


    <%# <p>
      Get help on the Ruby on Rails Tutorial at the
      <a href="https://www.railstutorial.org/help">Rails Tutorial help
      page</a>.
      To get help on this sample app, see the
      <a href="https://www.railstutorial.org/book"><em>Ruby on Rails
      Tutorial</em> book</a>.
    </p> %>


<div class="jumbotron">
  <h1 class="display-4">How can freelancers help your business?</h1>
  <hr class="my-4">
  <p class="lead">The possibilities are endless. We have expert freelancers who work in 
          every technical, professional, and creative field imaginable. So just post your 
          work and you will get a lot of geniuses to help you for the problem or product 
          you need.</p>
  <hr class="my-4">
  <%# <h1 class="display-4">How does it work?</h1> %>
  <p class="lead">1. Post a project or contest</p>
  <p class="lead">  Simply post a project and see a lot of professional freelancers appling 
                      in minutes of time</p>
  <p class="lead">2. Choose the perfect freelancer</p>
  <p class="lead">Browse freelancer profiles. Chat in real-time. Compare proposals and 
        select the best one. Award your project and your freelancer starts work.</p>
  <p class="lead">3. Pay when you’re satisfied</p>
  <p class="lead">Release payments when it has been completed and you're 100% satisfied.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.quora.com/What-is-the-best-way-to-find-and-hire-a-freelancer" role="button">Tips for Hiring</a>
  </p>
</div>

<div class="jumbotron">
  <h1 class="display-4">How to earn money by doing freelancing?</h1>
  <hr class="my-4">
  <p class="lead">The possibilities are endless. We have expert freelancers who work in 
          every technical, professional, and creative field imaginable. So just post your 
          work and you will get a lot of geniuses to help you for the problem or product 
          you need.</p>
  <hr class="my-4">
  <%# <h1 class="display-4">How does it work?</h1> %>
  <p class="lead">1. Complete your profile</p>
  <p class="lead"> Select your skills and expertise, Go through the verification</p>
  <p class="lead">2. Browse jobs that suit you and apply </p>
  <p class="lead">We have jobs available for all skills. Maximize your job opportunities by optimizing your filters. 
                  Then apply for best suited jobs.</p>
  <p class="lead">3. Get awarded and earn</p>
  <p class="lead">Get ready to work once you get hired. Deliver high quality work and earn the agreed amount.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.businessnewsdaily.com/5242-freelancer-tips.html" role="button" target="blank">Tips for Freelancing</a>
  </p>
</div>
