<% provide(:title, "How it works") %>
<br>
<div class="jumbotron">
  <h3 class="text-center"> <b> How can freelancers help your business? </b>  </h3>
  <hr class="my-4">
  <h2> <b> The possibilities are endless. We have expert freelancers who 
              work in every technical, professional, and creative field imaginable. So just post your 
              work and you will get a lot of geniuses to help you for the problem or product 
              you need. </b> </h2>
  <hr class="my-4">

  <h3 class="text-center"> <b> How does it work? </b>  </h3>
  <p class="lead"> <small> 1. Post a project or contest </small> </p>
  <p class="lead"> <small> Simply post a project and see a lot of professional freelancers appling 
                      in minutes of time</small> </p>
  <p class="lead"> <small> 2. Choose the perfect freelancer </small> </p>
  <p class="lead"> <small> Browse freelancer profiles. Chat in real-time. Compare proposals and 
        select the best one. Award your project and your freelancer starts work. </small> </p>
  <p class="lead"> <small>3. Pay when you’re satisfied</small> </p>
  <p class="lead"> <small>Release payments when it has been completed and you're 100% satisfied.</small> </p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.quora.com/What-is-the-best-way-to-find-and-hire-a-freelancer" role="button" target="blank">Hiring Tips</a>
  </p>
</div>

<div class="jumbotron">
  <h3 class="text-center"> <b> How to earn money by doing freelancing? </b>  </h3>
  <hr class="my-4">
  <h2> <b> Whatever the job, you can find it on Freelancer App. Complete your profile so we can match you to the right jobs. </b> </h2>
  <hr class="my-4">

  <h3 class="text-center"> <b> How does it work? </b>  </h3>
  <p class="lead"> <small> 1. Complete your profile </small> </p>
  <p class="lead"> <small> Select your skills and expertise, Go through the verification</small> </p>
  <p class="lead"> <small> 2. Browse jobs that suit you and apply </small> </p>
  <p class="lead"> <small> We have jobs available for all skills. Maximize your job opportunities by optimizing your filters. 
                  Then apply for best suited jobs. </small> </p>
  <p class="lead"> <small>3. Get awarded and earn</small> </p>
  <p class="lead"> <small>Get ready to work once you get hired. Deliver high quality work and earn the agreed amount.</small> </p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://www.businessnewsdaily.com/5242-freelancer-tips.html" role="button" target="blank">Freelancing Tips</a>
  </p>
</div>



