<%= form_with(model: @specialization, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.text_field :name, class:"form-control", placeholder: "Add Specialization..." %>
    </div>
    <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>