<h2 class="text-center"> <%= link_to gravatar_for(current_user, size: 50), current_user%> </h2>
<h2 class="text-center pull-left"> <%= current_user.name %> </h2>

<%# <span> <%= pluralize(current_user.microposts.count, "micropost") </span> %>
